body {
  font-family: Arial;
  padding: 20px;
  background: #f4f6f8;
}

form {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

table {
  margin-top: 20px;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 8px;
}
